.card_products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

strong {
  background-color: rgb(230, 176, 95);
}

.card_products ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card_products li {
  border: 1px solid rgb(19, 18, 18);
  padding: 10px;
  width: 300px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: rgb(230, 176, 95);
}

.card_products img {
  max-width: 100%;
  height: auto;
}

.card_products .strong {
  background-color: rgb(230, 176, 95);
  padding: 10px;
}

.card_products .button {
  background-color: #038ade;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}







