.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*{
  background-color: rgb(239, 236, 205);
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
.carrito{
  background-color: rgb(239, 236, 205);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
